* {
  font-family: 'Josefin Sans', sans-serif;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
main {
  height: 100vh;
  display: flex;
  align-items: center; 
  flex-direction: column;
  background: url('../public/images/bg-desktop-light.jpg') no-repeat;
  background-size: contain;
}

header {
  width: 36rem;
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  align-items: center;
}
.logo {
  color: white;
  font-size: 2.5rem;
  margin-top: 11px;
  cursor: pointer;
  letter-spacing: 10px;
}
.theme {
 width: 1.7rem; 
 cursor: pointer;
}


.todolist {
  width: 36rem;
}
form {
  margin-top: 2.5rem;
  width: 100%;
  display: flex;
}
input[type='text'] {
  flex-grow: 1;
  height: 3.7rem;
  color: hsl(235, 19%, 35%);
  font-size: 1.2rem;
  padding-left: 3rem;
  border-radius: 5px 0 0 5px;
}
.add-button {
  width: 3.8rem;
  color: hsl(235, 19%, 35%);
  font-size: 3rem;
  background-color: white;
  border-radius: 0 5px 5px 0;
  border-left: 0.5px solid hsl(235, 19%, 35%);
  cursor: pointer;
}


