* {
  font-family: 'Josefin Sans', sans-serif;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
main#light {
  height: 100vh;
  display: flex;
  align-items: center; 
  flex-direction: column;
  background: url('../public/images/bg-desktop-light.jpg') no-repeat;
  background-size: contain;
  background-color: white;
}

header {
  width: 36rem;
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  align-items: center;
}
.logo {
  color: white;
  font-size: 2.5rem;
  margin-top: 11px;
  cursor: pointer;
  letter-spacing: 10px;
}
.theme {
 width: 1.65rem; 
 cursor: pointer;
}


.todolist {
  width: 36rem;
}
form {
  position: relative;
  margin: 2.5rem 0 1.5rem 0;
  width: 100%;
  display: flex;
  box-shadow: 0 15px 30px  hsla(235, 19%, 35%,10%);
}
.list {
  max-height: 26.6rem;
  overflow-y: auto;
}
input[type='text']#light {
  flex-grow: 1;
  height: 3.9rem;
  color: hsl(235, 19%, 35%);
  font-size: 1.3rem;
  padding-left: 3.4rem;
  border-radius: 5px 0 0 5px;
}
.add-button#light {
  width: 3.8rem;
  color: hsl(235, 19%, 35%);
  font-size: 3rem;
  background-color: white;
  border-radius: 0 5px 5px 0;
  border-left: 0.5px solid hsl(235, 19%, 35%);
  cursor: pointer;
}

#light.list-container {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 15px 30px 4px hsla(235, 19%, 35%,14%);
}
#light.todo {
  color: hsl(233, 14%, 35%);
  height: 3.8rem;
  font-size: 1.3rem;
  padding: 0 1.2rem 0 3.7rem;
  position: relative;
  border-bottom: 1px solid hsl(236, 33%, 92%);
}
#light.todo:hover {
  color: hsl(237, 14%, 26%);
}

label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input[type="checkbox"] {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
#light.checkmark {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid hsl(234, 39%, 85%);
  position: absolute;
  top: 1.2rem;
  left: 1.1rem;
  cursor: pointer;
}
.todo:hover #light.checkmark {
  border-color: hsl(237, 14%, 60%);
}
input[type="checkbox"]:checked + .checkmark {
  background: url('../public/images/icon-check.svg') no-repeat center,
  linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%)) content-box;
} 

input[type="checkbox"]:checked ~ p#light {
  color: hsl(233, 11%, 84%);
  text-decoration: line-through;
}
.cross-icon {
  display: none;
  cursor: pointer;
}
.todo:hover .cross-icon {
  display: block;
} 

#light.filter-list {
  font-size: 15px;
  color: hsl(236, 9%, 61%);
  height: 3rem;
  display: flex;
  padding: 0 1.2rem;
  align-items: center;
  justify-content: space-between;
}
.filter-buttons span {
  font-weight: 600;
  cursor: pointer;
  margin: 0 5px;
}
#light.filter-buttons span:hover {
  color: hsl(235, 19%, 35%);
}
#light.clear-completed {
  cursor: pointer;
}
#light.clear-completed:hover {
  color: hsl(235, 19%, 35%);
}
.active-filter {
  color: hsl(220, 98%, 61%);
}

/* ===================== Dark Mode ======================== */

main#dark {
  height: 100vh;
  display: flex;
  align-items: center; 
  flex-direction: column;
  background: url('../public/images/bg-desktop-dark.jpg') no-repeat;
  background-size: contain;
  background-color: hsl(235, 21%, 11%);
}
#dark.list-container {
  border: 1px solid hsl(235, 24%, 19%);
  background-color: hsl(235, 24%, 19%);
  border-radius: 5px;
  box-shadow: 0 20px 40px 5px rgba(0, 0, 0,45%);
  overflow: hidden;
}
input[type='text']#dark {
  flex-grow: 1;
  height: 3.9rem;
  color: hsl(234, 39%, 85%);
  font-size: 1.3rem;
  padding-left: 3.4rem;
  border-radius: 5px 0 0 5px;
  background-color: hsl(235, 24%, 19%);
}
.add-button#dark {
  width: 3.8rem;
  color: white;
  font-size: 3rem;
  background-color: hsl(235, 24%, 19%);
  border-radius: 0 5px 5px 0;
  border-left: 0.5px solid hsl(235, 19%, 35%);
  cursor: pointer;
}
#dark.checkmark {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid hsl(234, 11%, 52%);
  position: absolute;
  top: 1.2rem;
  left: 1.1rem;
  cursor: pointer;
}
.todo:hover #dark.checkmark {
  border-color: hsl(236, 33%, 92%) ;
}

#dark.todo {
  color: hsl(234, 39%, 85%);
  height: 3.8rem;
  font-size: 1.3rem;
  padding: 0 1.2rem 0 3.7rem;
  position: relative;
  border-bottom: 1px solid hsl(237, 14%, 26%);
  background-color: hsl(235, 24%, 19%);
}
#dark.todo:hover {
  color: hsl(236, 33%, 92%);
}

input[type="checkbox"]:checked ~ p#dark {
  color: hsl(234, 11%, 52%);
  text-decoration: line-through;
} 

#dark.filter-list {
  font-size: 15px;
  color: hsl(236, 9%, 61%);
  height: 3rem;
  display: flex;
  padding: 0 1.2rem;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(235, 24%, 19%);
}
#dark.filter-buttons span:hover {
  color: hsl(236, 33%, 92%);
}

#dark.clear-completed {
  cursor: pointer;
}

#dark.clear-completed:hover {
  color: hsl(236, 33%, 92%);
}

#light.drag-drop {
  margin-top: 3rem;
  color: hsl(236, 9%, 61%);
  font-size: 13px;
}
#dark.drag-drop {
  margin-top: 3rem;
  color: hsl(234, 11%, 52%);
  font-size: 13px;
}