* {
  font-family: 'Josefin Sans', sans-serif;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
main {
  height: 100vh;
  display: flex;
  align-items: center; 
  flex-direction: column;
  background: url('../public/images/bg-desktop-light.jpg') no-repeat;
  background-size: contain;
}

header {
  width: 36rem;
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  align-items: center;
}
.logo {
  color: white;
  font-size: 2.5rem;
  margin-top: 11px;
  cursor: pointer;
  letter-spacing: 10px;
}
.theme {
 width: 1.65rem; 
 cursor: pointer;
}


.todolist {
  width: 36rem;
}
form {
  position: relative;
  margin: 2.5rem 0 1.5rem 0;
  width: 100%;
  display: flex;
}
input[type='text'] {
  flex-grow: 1;
  height: 3.9rem;
  color: hsl(235, 19%, 35%);
  font-size: 1.3rem;
  padding-left: 3.4rem;
  border-radius: 5px 0 0 5px;
}
.add-button {
  width: 3.8rem;
  color: hsl(235, 19%, 35%);
  font-size: 3rem;
  background-color: white;
  border-radius: 0 5px 5px 0;
  border-left: 0.5px solid hsl(235, 19%, 35%);
  cursor: pointer;
}

.list-container {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 15px 30px 4px hsla(235, 19%, 35%,14%);
}
.todo {
  color: hsl(233, 14%, 35%);
  height: 3.8rem;
  font-size: 1.3rem;
  padding: 0 1.5rem 0 3.7rem;
  position: relative;
  border-bottom: 1px solid hsl(236, 33%, 92%);
}
.todo:hover {
  color: hsl(237, 14%, 26%);
}
label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input[type="checkbox"] {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.checkmark {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid hsl(236, 33%, 92%);
  position: absolute;
  top: 1.2rem;
  left: 1.1rem;
  cursor: pointer;
}
.todo:hover .checkmark{
  border: double 1px transparent;
  background-image: linear-gradient(white, white), 
  linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));
  background-clip: content-box,border-box;
  background-origin: border-box;
}
input[type="checkbox"]:checked ~ .checkmark {
  background: url('../public/images/icon-check.svg') no-repeat center,
  linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%)) content-box;
} 
.cross-icon {
  display: none;
}
.todo:hover .cross-icon {
  display: block;
} 

.filter-list {
  font-size: 15px;
  color: hsl(236, 9%, 61%);
  height: 3rem;
  display: flex;
  padding: 0 1.2rem;
  align-items: center;
  justify-content: space-between;
}
.filter-buttons span {
  font-weight: 600;
  cursor: pointer;
  margin: 0 5px;
}
.filter-buttons span:hover {
  color: hsl(235, 19%, 35%);
}
.clear-completed {
  cursor: pointer;
}
.clear-completed:hover {
  color: hsl(235, 19%, 35%);
}
.active-filter {
  color: hsl(220, 98%, 61%);
}